<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hola</h1>

    {{#each values}}
    <div>
        <p>{{id}}. {{nombre}}-{{marca}}-{{unidad}}-{{existencia}} ${{precio}} </p>
        <button class="btnEditar" value="{{id}}" type="submit">Editar</button>
        <form action="/eliminarDatos" method="POST">
            <button class="btnEditar" value="{{id}}" name="id" type="submit">Borrar</button>
        </form>
    </div>
    {{/each}}

    <br>
    <form action="/" method="POST">
        <input class="addNombre" type="text" name="nombre" placeholder="Nombre">
        <input class="addMarca" type="text" name="marca" placeholder="Marca">
        <input class="addPrecio" type="text" name="precio" placeholder="Precio">
        <input class="addUnidad" type="text" name="unidad" placeholder="Unidad">
        <input class="addExistencia" type="text" name="existencia" placeholder="Existencia">
        <input type="submit" value="Ingresar">
    </form>

    <br>
    <!--<form action="/edit" method="POST">
        <input type="hidden" name="idFil">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="precio" placeholder="Precio">
        <input type="submit" value="Editar">
    </form>-->

    <input class="idFila" type="hidden" name="idFil">
    <input class="editNombre" type="text" name="nombre" placeholder="Nombre">
    <input class="editMarca" type="text" name="marca" placeholder="Marca">
    <input class="editPrecio" type="text" name="precio" placeholder="Precio">
    <input class="editUnidad" type="text" name="unidad" placeholder="Unidad">
    <input class="editExistencia" type="text" name="existencia" placeholder="Existencia">
    <button class="editarDatos" onclick="editarDatos(event)">Editar</button>

    <script>
        const $editarNombre = document.querySelector('.editNombre')
        const $editarMarca = document.querySelector('.editMarca')
        const $editarPrecio = document.querySelector('.editPrecio')
        const $editarUnidad = document.querySelector('.editUnidad')
        const $editarExistencia = document.querySelector('.editExistencia')

        let dato = 1
        const $boton = document.querySelectorAll('.btnEditar')
        const $idFila = document.querySelector('.idFila')
        for (let i = 0; i < $boton.length; i++) {
            $boton[i].addEventListener('click', () => {
                $idFila.value = $boton[i].value
                console.log($idFila.value)
            })
        }

        function editarDatos(event) {
            fetch('/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: $idFila.value,
                    nombre: $editarNombre.value,
                    marca: $editarMarca.value,
                    precio: $editarPrecio.value,
                    unidad: $editarUnidad.value,
                    existencia: $editarExistencia.value
                })
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(function (error) {
                    console.log('Hubo un error ' + error.message)
                })
        }
    </script>
</body>

</html>